---
layout: full
title: Resources
---

<ul class="nav nav-tabs">

    <li class="active">
        <a href="#" role="tab" data-toggle="tab"> Resources <span class="glyphicon glyphicon-cutlery"></span></a>
    </li>
    <li>
        <a href="#" role="tab" data-toggle="tab"> Interview <span class="glyphicon glyphicon-briefcase"></span></a>
    </li>
    <li>
        <a href="#" role="tab" data-toggle="tab"> Problem Sets <span class="glyphicon glyphicon-edit"></span></a>
    </li>
</ul>


<div class="tab-content">

    <div class="tab-pane active" id="resources">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>Subject</th>
                <th>Link</th>
            </tr>
            </thead>
            <tbody>
            {% for type in site.data.resources %}
            <tr>
                <td>
                    <a href="#" class="list-group-item active">
                    {{ type.type }}
                    </a>
                </td>

                <td>{% for resource in type.links %}
                    <a href="{{ resource.url }}" class="list-group-item">{{ resource.name }}</a>
                    {% endfor %}
                </td>

            </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>


    <!--{% for type in site.data.resources %}
      <div class="list-group col-lg-12">
        <a href="#" class="list-group-item active">
         {{ type.type }}
        </a>
        {% for resource in type.links %}
          <a href="{{ resource.url }}" class="list-group-item">{{ resource.name }}</a>
        {% endfor %}
      </div>
    {% endfor %} -->
