---
layout: full
title: Resources
---

<ul class="nav nav-tabs">

    <li class="active">
        <a href="#" role="tab" data-toggle="tab"> Resources <span class="glyphicon glyphicon-cutlery"></span></a>
    </li>
    <li>
        <a href="#" role="tab" data-toggle="tab"> Interview <span class="glyphicon glyphicon-briefcase"></span></a>
    </li>
    <li>
        <a href="#" role="tab" data-toggle="tab"> Problem Sets <span class="glyphicon glyphicon-edit"></span></a>
    </li>
</ul>

{% for type in site.data.resources %}
  <div class="list-group col-lg-4">
    <a href="#" class="list-group-item active">
     {{ type.type }}
    </a>
    {% for resource in type.links %}
      <a href="{{ resource.url }}" class="list-group-item">{{ resource.name }}</a>
    {% endfor %}
  </div>
{% endfor %}
